body {
    background: #1f1f1f;
    color: #fff; /* Set text color to white for better contrast */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Use a clean sans-serif font */
}

.container {
    max-width: 800px; /* Limit content width for better readability */
    margin: 0 auto; /* Center the content */
}

/* Styling for Blog Posts */
.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Add rounded corners */
    background: #333; /* Darken the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.post h3 {
    font-size: 24px;
}

.post p {
    color: #ccc; /* Lighten the text color */
}

/* Styling for Links */
h3 a,
.small a {
    color: #3498db; /* Change link color for better visibility */
}

/* Styling for Small Text */
small {
    color: #777;
}

/* Styling for Detail Class */
.detail {
    color: #4caf50; /* Use a shade of green for detail text */
}
/* Styling for Authentication Section */
.auth-section {
    margin-top: 10px;
}

.auth-section p {
    margin-bottom: 0;
}

.auth-section a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.auth-section a:hover {
    text-decoration: underline;
    color: #258cd1;
}
